# Created by https://www.toptal.com/developers/gitignore/api/gatsby,react
# Edit at https://www.toptal.com/developers/gitignore?templates=gatsby,react

### Gatsby ###
node_modules/

.cache/
public

src/gatsby-types.d.ts

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

# End of https://www.toptal.com/developers/gitignore/api/gatsby,react